.visible {
  display: inline;
}

.hidden {
  display: none;
}

.todoItem {
  border: 5px solid rgb(77, 20, 106);
  margin-top: 10px;
  margin-bottom: 10px;
}

.completed {
  border: 5px solid rgb(138, 138, 138);
  color: rgb(138, 138, 138);
}

.deleteBtn {
  margin-left: 90%;
}
